<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe&Wifi API</title>
</head>
<body>
    <h1>Welcome to the Cafe & Wifi API</h1>
    <a href="https://documenter.getpostman.com/view/33001364/2sA2r6YQ7S">Api Documentation</a>
    <a href="{{ url_for('what') }}" target="_blank">
        <button class="corner-button">🔵Linkedin</button>
    </a>
    <div formsappId="67deebfebf8c0707c4d4f8e8"></div>
<script src="https://forms.app/static/embed.js" type="text/javascript" async defer onload="new formsapp('67deebfebf8c0707c4d4f8e8', 'fullscreen', {}, 'https://undefined.forms.app');"></script>
</body>
</html>